@import "tailwindcss";

@theme {
  --color-primary: #0b1d39;
  --color-accent: #1daeec;
  --color-secondary: #ffffff;
  --color-neutral: #f4f4f4;
}

/* Custom font utilities */
@utility font-inter {
  font-family: var(--font-family-inter);
}

@utility font-nunito {
  font-family: var(--font-family-nunito);
}

@utility font-poppins {
  font-family: var(--font-family-poppins);
}

body {
}
