@import "tailwindcss";

@theme {
  --color-primary: #0B1D39;
  --color-accent: #1DAEEC;
  --color-secondary: #FFFFFF;
  --color-neutral: #F4F4F4;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}
